/* Animasi tools */
.tool-item {
  transition: all 0.3s ease;
  padding: 8px;
  border-radius: 8px;
}

.tool-show {
  opacity: 1;
  transform: translateY(0);
}

/* Accordion */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.4s ease-out;
  opacity: 0;
}

.accordion.open .accordion-content {
  max-height: 500px;
  /* Adjusted max-height */
  opacity: 1;
  transition: max-height 0.4s ease-in, opacity 0.4s ease-in;
}

/* Badge Slot */
.slot-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(to right, #f97316, #ef4444);
  color: white;
  box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);
  animation: pulse 2s infinite;
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
}