.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
  }
  .fade-in-delay {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards 0.5s;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
