name: Promote Staging to Production Repo

on:
  workflow_dispatch:

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout staging repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push using GitHub CLI
        env:
          GH_TOKEN: ${{ secrets.PROD_REPO_TOKEN }}
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          
          gh auth setup-git
          
          git remote add production https://github.com/Sukarobot-Project-E-Learning/sukarobot-elearning-demo.git
          
          git push production main --force