name: Promote Staging to Production Repo

on:
  workflow_dispatch:

jobs:
  promote:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout staging repo
        uses: actions/checkout@v4

      - name: Push to production repository
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"

          git remote add production https://x-access-token:${{ secrets.PROD_REPO_TOKEN }}@github.com/Sukarobot-Project-E-Learning/sukarobot-elearning-demo.git

          git push production main --force
